:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( 135deg, #dfb2b2 10%, #cd1515 100%);
    
    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient( 135deg, #dfb2b4 10%, #a1121b 100%);
    --vp-home-hero-image-filter: blur(150px);

    /* brand按钮 */
  --vp-button-brand-border: #f6cece;
  --vp-button-brand-text: #e7c1c5;
  --vp-button-brand-bg: #d93939;

  --vp-button-brand-hover-border: #f6cee3;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #d9393e;

  --vp-button-brand-active-border: #f6cece;
  }
  